@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    outline: none;
    background-color: Transparent;
    border: none;
    padding: 0;
    margin: 0;
}

button img {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: -0.2rem;
}

